.fruitBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.fruitBlock:nth-child(4n -1) {
  background-color: #ffc8dd;
}

.fruitBlock:nth-child(4n) {
  background-color: #ffafcc;
}

.fruitBlock:nth-child(4n -2) {
  background-color: #ffc8dd;
}

.fruitBlock:nth-child(4n + 1) {
  background-color: #ffafcc;
}
